<mat-toolbar>
  <div style="width: 50%; display: flex; padding-left: 40px">
    <img src="./assets/image/logo.png" alt="" />
  </div>
  <div
    class="menu"
    style="
      width: 50%;
      padding-right: 40px;
      gap: 15px;
      display: flex;
      justify-content: flex-end;
    "
  >
    <span routerLink="/home"
      >ES.Giorno-<span style="color: orange">1</span> Home</span
    >
    <span routerLink="/users"
      >ES.Giorno-<span style="color: orange">1</span>

      Users</span
    >
    <span routerLink="/service"
      >ES.Giorno-<span style="color: blue">2</span> Service</span
    >
    <span routerLink="/about">About us</span>
  </div>

  <span class="example-spacer"></span>
</mat-toolbar>
