<mat-toolbar>
  <div style="width: 50%; display: flex; padding-left: 40px">
    <img src="./assets/image/logo.png" alt="" />
  </div>
  <div
    class="menu"
    style="
      width: 50%;
      padding-right: 40px;
      gap: 15px;
      display: flex;
      justify-content: flex-end;
    "
  >
    <span routerLink="/home">Home</span>
    <span routerLink="/users">Users</span>
    <span routerLink="/service">Service</span>
    <span routerLink="/about">About us</span>
  </div>

  <span class="example-spacer"></span>
</mat-toolbar>
